.my-lister {
  display: none;
  position: fixed;
  right: 8%;
  top: 50vh;
  max-height: 40vh;

  &-wrap {
    padding: .5rem .1rem;
    position: relative;
    transform: translateY(-50%);
    text-align: right;
  }

  @include desktop() {
    display: block;
    right: 3%;
    width: 8.5rem;
  }

  @include widescreen() {
    display: block;
    right: 9%;
    width: 9rem;
  }

  @include fullhd() {
    right: 12%;
    width: 10rem;
  }
}
